<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DriverData</key>
	<dict>
		<key>DriverProfileViewController</key>
		<string>dk_tag_driver_profile</string>
		<key>MySynthesisViewController</key>
		<string>dk_tag_my_synthesis</string>
		<key>TripListVC</key>
		<string>dk_tag_trips_list</string>
		<key>TripDetailVC</key>
		<string>dk_tag_trips_detail</string>
		<key>TransportationModeVC</key>
		<string>dk_tag_trips_detail_transportation_mode</string>
		<key>DriverPassengerModeVC</key>
		<string>dk_tag_trips_detail_driver_passenger</string>
	</dict>
	<key>DriverDataTimeline</key>
	<dict>
		<key>TimelineViewController</key>
		<string>dk_tag_timeline</string>
		<key>TimelineDetailViewController</key>
		<string>dk_tag_timeline_score_detail</string>
	</dict>
	<key>DriverAchievement</key>
	<dict>
		<key>BadgesViewController</key>
		<string>dk_tag_badges</string>
		<key>BadgeLevelDetailViewController</key>
		<string></string>
		<key>RankingViewController</key>
		<string>dk_tag_rankings</string>
		<key>StreakViewController</key>
		<string>dk_tag_streaks</string>
	</dict>
	<key>PermissionsUtils</key>
	<dict>
		<key>DiagnosisViewController</key>
		<string>dk_tag_permissions_diagnosis</string>
		<key>ActivityPermissionViewController</key>
		<string>dk_tag_permissions_onboarding</string>
		<key>LocationPermissionViewController</key>
		<string>dk_tag_permissions_onboarding</string>
	</dict>
	<key>Vehicle</key>
	<dict>
		<key>VehiclesListVC</key>
		<string>dk_tag_vehicles_list</string>
		<key>VehicleDetailVC</key>
		<string>dk_tag_vehicles_detail</string>
		<key>ConnectBeaconVC</key>
		<string></string>
		<key>BeaconInputIdVC</key>
		<string></string>
		<key>BeaconDetailVC</key>
		<string>dk_tag_vehicles_beacon_info</string>
		<key>ConnectBluetoothVC</key>
		<string>dk_tag_vehicles_bluetooth_add</string>
		<key>ErrorBluetoothVC</key>
		<string></string>
		<key>SelectBluetoothVC</key>
		<string></string>
		<key>SuccessBluetoothVC</key>
		<string></string>
		<key>OdometerInitVC</key>
		<string>dk_tag_vehicles_odometer_init</string>
		<key>OdometerVehicleListVC</key>
		<string>dk_tag_vehicles_odometer_vehicles_list</string>
		<key>OdometerVehicleDetailVC</key>
		<string>dk_tag_vehicles_odometer_vehicles_detail</string>
		<key>OdometerHistoriesVC</key>
		<string>dk_tag_vehicles_odometer_histories_list</string>
		<key>OdometerHistoryDetailVC</key>
		<string>dk_tag_vehicles_odometer_histories_detail</string>
		<key>FindMyVehicleViewController</key>
		<string>dk_tag_vehicles_find_my_vehicle</string>
	</dict>
	<key>Challenge</key>
	<dict>
		<key>ChallengeDetailVC</key>
		<string>dk_tag_challenge_detail</string>
	</dict>
	<key>TripAnalysis</key>
	<dict>
		<key>WorkingHoursViewController</key>
		<string>dk_tag_trip_analysis_working_hours</string>
	</dict>
</dict>
</plist>
