<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dk_tag_driver_profile</key>
	<string>drivekit-driver-profile</string>
	<key>dk_tag_trips_list</key>
	<string>drivekit-trips-list</string>
	<key>dk_tag_trips_detail</key>
	<string>drivekit-trips-detail</string>
	<key>dk_tag_trips_detail_advice_safety</key>
	<string>drivekit-trips-detail-advice-safety</string>
	<key>dk_tag_trips_detail_advice_efficiency</key>
	<string>drivekit-trips-detail-advice-efficiency</string>
	<key>dk_tag_trips_detail_transportation_mode</key>
	<string>drivekit-trips-detail-transportation_mode</string>
	<key>dk_tag_trips_detail_driver_passenger</key>
	<string>drivekit-trips-detail-driver-passenger</string>
	<key>dk_tag_badges</key>
	<string>drivekit-badges</string>
	<key>dk_tag_rankings</key>
	<string>drivekit-rankings</string>
	<key>dk_tag_streaks</key>
	<string>drivekit-streaks</string>
	<key>dk_tag_vehicles_list</key>
	<string>drivekit-vehicles-list</string>
	<key>dk_tag_vehicles_detail</key>
	<string>drivekit-vehicles-detail</string>
	<key>dk_tag_vehicles_add</key>
	<string>drivekit-vehicles-add</string>
	<key>dk_tag_vehicles_beacon_verify</key>
	<string>drivekit-vehicles-beacon-verify</string>
	<key>dk_tag_vehicles_beacon_add</key>
	<string>drivekit-vehicles-beacon-add</string>
	<key>dk_tag_vehicles_beacon_diagnosis</key>
	<string>drivekit-vehicles-beacon-diagnosis</string>
	<key>dk_tag_vehicles_beacon_info</key>
	<string>drivekit-vehicles-beacon-info</string>
	<key>dk_tag_vehicles_bluetooth_add</key>
	<string>drivekit-vehicles-bluetooth-add</string>
	<key>dk_tag_vehicles_odometer_init</key>
	<string>drivekit-vehicles-odometer-init</string>
	<key>dk_tag_vehicles_odometer_vehicles_list</key>
	<string>drivekit-vehicles-odometer-vehicles-list</string>
	<key>dk_tag_vehicles_odometer_vehicles_detail</key>
	<string>drivekit-vehicles-odometer-vehicles-detail</string>
	<key>dk_tag_vehicles_odometer_histories_list</key>
	<string>drivekit-vehicles-odometer-histories-list</string>
	<key>dk_tag_vehicles_odometer_histories_detail</key>
	<string>drivekit-vehicles-odometer-histories-detail</string>
	<key>dk_tag_vehicles_odometer_histories_add</key>
	<string>drivekit-vehicles-odometer-histories-add</string>
	<key>dk_tag_vehicles_odometer_histories_edit</key>
	<string>drivekit-vehicles-odometer-histories-edit</string>
	<key>dk_tag_permissions_diagnosis</key>
	<string>drivekit-permissions-diagnosis</string>
	<key>dk_tag_permissions_onboarding</key>
	<string>drivekit-permissions-onboarding</string>
	<key>dk_tag_challenge_list_active</key>
	<string>drivekit-challenge-list-active</string>
	<key>dk_tag_challenge_list_ranked</key>
	<string>drivekit-challenge-list-ranked</string>
	<key>dk_tag_challenge_list_all</key>
	<string>drivekit-challenge-list-all</string>
	<key>dk_tag_challenge_join</key>
	<string>drivekit-challenge-join</string>
	<key>dk_tag_challenge_detail</key>
	<string>drivekit-challenge-detail</string>
	<key>dk_tag_challenge_detail_results</key>
	<string>drivekit-challenge-detail-results</string>
	<key>dk_tag_challenge_detail_ranking</key>
	<string>drivekit-challenge-detail-ranking</string>
	<key>dk_tag_challenge_detail_trips</key>
	<string>drivekit-challenge-detail-trips</string>
	<key>dk_tag_challenge_detail_rules</key>
	<string>drivekit-challenge-detail-rules</string>
	<key>dk_tag_trip_analysis_working_hours</key>
	<string>drivekit-trip-analysis-working-hours</string>
	<key>dk_tag_timeline</key>
	<string>drivekit-timeline</string>
	<key>dk_tag_timeline_score_detail</key>
	<string>drivekit-timeline-score-detail</string>
	<key>dk_tag_my_synthesis</key>
	<string>drivekit-my-synthesis</string>
</dict>
</plist>
